In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NSE50data.txt", sep="|", header=0)
df.head()

,co_code,company_name,co_stkdate,nse_closing_price,nse_market_cap
0,18102,APOLLO HOSPITALS ENTERPRISE LTD.,01-01-1990,NaN,NaN
1,18102,APOLLO HOSPITALS ENTERPRISE LTD.,03-01-1990,NaN,NaN
2,18102,APOLLO HOSPITALS ENTERPRISE LTD.,04-01-1990,NaN,NaN
3,18102,APOLLO HOSPITALS ENTERPRISE LTD.,05-01-1990,NaN,NaN
4,18102,APOLLO HOSPITALS ENTERPRISE LTD.,08-01-1990,NaN,NaN

In [3]:
prowessList = df.company_name.unique().tolist()

def getTS(data='nse_closing_price'):
    maindf = pd.read_csv("TS.csv")
    maindf['date'] = pd.to_datetime(maindf['date'], format='%Y-%m-%d')
    maindf.set_index('date', inplace=True,drop=True)
    maindf.sort_index(inplace=True, ascending=True)


    for company in prowessList:
        temp = df[df['company_name'].str.contains(f"{company}")].copy()
        temp = temp[['co_stkdate',data]]
        temp.rename(columns={data:f'{company}'},inplace=True)

        temp['co_stkdate'] = pd.to_datetime(temp['co_stkdate'], format='%d-%m-%Y')
        temp.set_index('co_stkdate', inplace=True,drop=True)
        temp.sort_index(inplace=True, ascending=True)

        maindf = maindf.merge(temp, how='left', left_index=True, right_index=True)#.fillna(method='ffill')
    
    maindf.dropna(inplace=True)
    maindf.sort_index(ascending=False,inplace=True)
    maindf.to_csv(f"{data}.csv")

getTS()
getTS(data='nse_market_cap')